<form class="card mb-5">
    <div class="form-row card-body">
        <div class="form-group col-md-3">
            <div style="display:flex">
                <div style="padding-right:0;padding-left:0" class="col-md-9">
                    <label for="inputPassword4">First Name</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>

                <div class="col-md-3" style="padding-right:0;padding-left:0">
                    <label for="inputState">_</label>
                    <select id="inputState" class="form-control">
                        <option selected>Equals</option>
                        <option>Not</option>
                        <option>Start With</option>
                        <option>End With</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">LastName</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="form-group col-md-3">
            <div style="display:flex">
                <div style="padding-right:0;padding-left:0" class="col-md-9">
                    <label for="inputPassword4">Email</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>

                <div class="col-md-3" style="padding-right:0;padding-left:0">
                    <label for="inputState">_</label>
                    <select id="inputState" class="form-control">
                        <option selected>Equals</option>
                        <option>Not</option>
                        <option>Start With</option>
                        <option>End With</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div style="display:flex">
                <div style="padding-right:0;padding-left:0" class="col-md-9">
                    <label for="inputPassword4">BirthDate</label>
                    <input type="date" class="form-control" id="inputPassword4">
                </div>

                <div class="col-md-3" style="padding-right:0;padding-left:0">
                    <label for="inputState"> _ </label>
                    <select id="inputState" class="form-control">
                        <option selected>Equals</option>
                        <option>Not</option>
                        <option>Start With</option>
                        <option>End With</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>



</form>